*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
}
nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    border-bottom: 2px solid;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.nav-header {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle {
    font-size: 3rem;
    border: none;
    padding: 2px;
    background-color: white;
    transition: all 0.3s linear;
    
}
.transToggle {
    transform: rotate(45deg);
}
.nav-links a {
    display: block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}
.social-media {
    display: none;
}
.nav-links{
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
.show-links {
    height: 15rem;
}
ul {
    list-style-type: none;
    display: block;
    align-items: center;
    transition: all 0.3s linear;
}
li{
    padding: 0.5rem;
    transition: all 0.3s linear;
}
a {
    text-decoration: none;
    color:black;
    text-decoration: underline 0.13em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}
a:hover {
    text-decoration-color: black;
}

@media screen and (min-width: 800px) {
    .nav-center {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
    }
    .nav-links {
        display: flex;
        height: auto;
    }
    .nav-links a {
        padding: 0;
        margin: 0 0.5rem;
      }
    ul{
        display: block;
    }
    li {
        padding: 0.3rem;
    }
    .social-media {
        display: flex;
    }
    
    a {
        text-decoration: none;
        color:black;
        text-decoration: underline 0.13em rgba(255, 255, 255, 0);
        transition: text-decoration-color 300ms;
    }
    a:hover {
        text-decoration-color: black;
    }
}